# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
# vnikolaev.hopto.org
#

localhost {
	# tls /etc/caddy/cert.pem /etc/caddy/key.pem
	# Set this path to your site's directory.
	# root * /usr/share/caddy

	# reverse_proxy * http://localhost:5051 http://localhost:5052 http://localhost:5053 {
	# lb_policy round_robin
	# transport http {

	# }
	# }

	reverse_proxy * localhost:3000

	@websocket {
        	header Connection *Upgrade*
        	header Upgrade websocket
    	}
    	reverse_proxy @websocket localhost:3000 
	header -Server

	# lb_policy round_robin
	# Enable the static file server.
	# file_server

	tls localhost-cert.pem localhost-key.pem {
	}

	log {
		output stdout
		format console
	}

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
