localhost {
   reverse_proxy * http://chatify-web:3000

   encode gzip
   header -Server

   tls /etc/caddy/localhost-cert.pem  /etc/caddy/localhost-key.pem {
   }

   header {
       Access-Control-Allow-Origin *
       Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
       Access-Control-Allow-Headers *
       Access-Control-Max-Age "3600"
   }

   log {
      output stdout
      format console
   }
}
